.sidebar {
  min-width: 250px;
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
}

.sidebar-list {
  height: 76vh;
  overflow-y: scroll;
}

.sidebar .active,
.bg-indigo-200 {
  background-color: #bfdbfe !important;
  font-weight: 600;
}

.sidebar li:hover {
  background-color: #e0e7ff;
}
