
.sidebar {
  min-width: 250px;
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.sidebar-list {
  flex-grow: 1;
  height: 76vh;
  overflow-y: auto;
  scrollbar-width: thin;               
  scrollbar-color: #9ca3af #f3f4f6;    
}


.sidebar-list li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  color: #1f2937; 
}


.sidebar-list .active {
  background-color: #bfdbfe; 
  font-weight: 600;
  color: #1e3a8a; 
}


.sidebar-list li:hover {
  background-color: #e0e7ff;
}


.sidebar-list::-webkit-scrollbar {
  width: 8px;               
}

.sidebar-list::-webkit-scrollbar-track {
  background: #f3f4f6;      
  border-radius: 10px;
}

.sidebar-list::-webkit-scrollbar-thumb {
  background-color: #9ca3af; 
  border-radius: 10px;
  border: 2px solid #f3f4f6; 
}

.sidebar-list::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}

.sidebar h2 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #1e3a8a; 
}

.sidebar input {
  border: 1px solid #d1d5db;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
}

.sidebar button {
  background-color: #6366f1;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin-top: 8px;
  transition: background-color 0.2s ease;
}

.sidebar button:hover {
  background-color: #4f46e5;
}
